---
layout: default
permalink: /categories/
title: Khóa học
---
<!-- page-title -->
<section class="section bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h4>{{ page.title }}</h4>
      </div>
    </div>
  </div>
</section>
<!-- /page-title -->
<div class="row" id="categories">
     <div class="column" id="left">
        <div id="archives">
        {% for category in site.categories %}
          <div class="archive-group">
            {% capture category_name %}{{ category | first }}{% endcapture %}
            <div id="#{{ category_name | slugize }}"></div>
            <p><br><br></p>

            <h4 class="category-head">#{{ category_name }}</h4>
            <a name="{{ category_name | slugize }}"></a>
            {% for post in site.categories[category_name] %}
            <article class="archive-item">
              <h5><a class='post-title' href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h5>
              <p class='post-description'>{{post.description}}<br></p>
            </article>
            {% endfor %}
          </div>
        {% endfor %}
        </div>
    </div>

    <div class="column" id="center"></div>

    <div class="column" id="right">
        {% for category in site.categories %}
            {% capture category_name %}{{ category | first }}{% endcapture %}
            <div id="#{{ category_name | slugize }}"></div>
            <a class="category-list" href="{{ site.baseurl }}/categories/#{{ category_name }}">#{{ category_name }}</a>
        {% endfor %}
    </div>
</div>

<style>
    a.post-title {
        color: #000;
    }
    a.category-list {
        color: #000;
        font-family: 'Montserrat';
        font-size: 20px;
    }

    .column {
      float: left;
    }
    #left {
      width: 70%;
      padding: 0px 10px 50px 5%;
    }

    #center {
      width: 0%
    }

    #right {
      width: 20%;
      padding: 60px 10px 10px 10px;
    }
</style>
