
a:link {
	color: #00a;
	text-decoration: none;
	border-bottom: none;
}

a:visited {
	color: #808;
	text-decoration: none;
	border-bottom: 1px dotted #b8b;
}

a:hover {
	color: #800;
	background-color: #fee;
	border-bottom: none;
	text-decoration: none;
}

a:active {
	color: #f00;
}

body {
	font-family: Lato, Sans-serif;
	font-weight: 400;
}

h1 {
	font-weight: 900;
}

h2 {
	font-weight: 700;
}

h3 {
	font-weight: 700;
}

b {
	font-weight: 700;
}

td {
	font-weight: 400;
}
