<div class="col-lg-4">
  <div class="widget search-box">
    <form action="/search.html" method="get">
      <i class="ti-search"></i>
      <input type="search" id="search-box" class="form-control border-0 pl-5" name="query"
        placeholder="Search">
    </form>
  </div>

  <div class="widget">
      <a class="go-learn" href="{{ page.courseurl }}">BẮT ĐẦU HỌC</a>
      <br><br>
      <style>
        a.go-learn {
        background-color: #5511ce;
        color: #ffffff;
        border-radius: 8px;
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 24px;
        padding: 10px 10px 10px 10px;
        display: inline-block;
        height: 53px;
        width: 100%;
        text-align: center;
        vertical-align: center;
      }
      a.go-learn:hover {
        background-color: #ded9ff;
      }
      a.go-learn:focus {
        background-color: #ded9ff;
      }
      </style>
      <br>
      <h5 class="mb-4">TÁC GIẢ</h5>
        <div class="author-name">
            <img class="img-author" src="{{ page.authoravatar }}" style="width:160px;">
            <p class="author-name">{{ page.author }}</p>
        </div>
        <p class="author-description">{{ page.authordescription }} </p>
        <a href="{{ page.authorcontact }}" class="author-contact">Liên hệ</a>
              <style>
              .img-author {
                margin: 0px 15px 10px 0px;
              }

              p.author-name {
                color: #000;
                font-family: 'Montserrat';
                font-size: 18px;
                font-weight: bold;
                display: inline-block;
                height: 0px;
                width: 280px;
                vertical-align: center;
              }


              p.author-description {
                color: #000;
              }

              a.author-contact {
                -webkit-appearance: button;
                -moz-appearance: button;
                appearance: button;

                background-color: #ded9ff;
                color: #000;
                border-radius: 8px;
                font-family: 'Montserrat';
                font-weight: bold;
                font-size: 18px;
                padding: 10px 10px 10px 10px;
                display: inline-block;
                height: 45px;
                width: 100%;
                text-align: center;
                vertical-align: center;
              }
              a.author-contact:hover {
                background-color: #eee;
              }
              a.author-contact:focus {
                background-color: #eee;
              }
              </style>
    </div>

    <h5 class="mb-4">DANH MỤC</h5>
    <a class='cate' href="{{site.baseurl}}/categories/#{{page.category}}"> #{{ page.category }}</a>
    <br><br>
    <style>
        a.cate {
            color: #000;
        }
    </style>
</div>
